
/* Q2A Chat Room plugin */

#qa-chat-form {
	text-align: center;
}
.qa-chat-post {
	width: 600px;
}

#qa-chat-list,
.qa-chat-item,
#qa-chat-user-list,
.qa-chat-user-item {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
}
#qa-chat-list {
	width: 728px;
	margin: 1em auto;
}
.qa-chat-item {
	overflow: hidden;
	padding: 4px 0;
	border-top: 1px solid #eee;
}
.qa-chat-item:last-child {
	border-bottom: 1px solid #eee;
}

.qa-chat-item-meta {
	float: left;
	width: 140px;
	padding-right: 20px;
	font-size: 11px;
	color: #999;
	text-align: right;
}
.qa-chat-item-data {
	float: left;
	width: 568px;
}

#qa-chat-user-list {
	width: 204px;
	margin-top: 5px;
}
.qa-chat-user-item {
	padding: 2px 4px;
}
.qa-chat-idle,
.qa-chat-idle > a {
	color: #aaa;
}
